body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.letter {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.story {
  background-color: pink;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}
